@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  padding: 0;
  margin: 0;
}

body {
  background-repeat: no-repeat;
  min-height: 700px;
}

p {
  margin: 0;
  padding: 0;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 120px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton p {
  font-size: 12px;
}

/*Resize the wrap to see the search bar change!*/

.pagination {
  display: flex;
  width: 500px;
  margin: auto;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  padding: 20px 0 40px;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: scale(1.1);
  scale: 1.3;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.card-img {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  min-width: 400px;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-header {
  font-size: 20px;
  font-weight: 500;
  color: #0d0d0d;
}

.card-text {
  font-size: 12px;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: black;
}

.card-btn {
  display: block;
  width: 100%;

  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}
